Language:        Cpp
BasedOnStyle:    LLVM

# Estilo de llaves tipo Allman (saltos de línea antes de {)
BreakBeforeBraces: Allman

# Siempre insertar llaves (aunque haya una sola línea)
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never

# Usar tabs para identación
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4

# Reglas varias para mantener estilo 42
IndentCaseLabels: false
IndentGotoLabels: true
IndentPPDirectives: None
NamespaceIndentation: All

# Ajustes visuales
SpaceBeforeParens: ControlStatements
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDefinitionName: false
  AfterFunctionDeclarationName: false

ColumnLimit: 80
